@import url('normalize.css');

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ltgwvv');
	src:url('../fonts/icomoon.eot?#iefixltgwvv') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ltgwvv') format('woff'),
		url('../fonts/icomoon.ttf?ltgwvv') format('truetype'),
		url('../fonts/icomoon.svg?ltgwvv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e617";
}

.icon-music:before {
	content: "\e604";
}

.icon-menu:before {
	content: "\e605";
}

.icon-star:before {
	content: "\e600";
	color: #FFB013;
	font-size: 1.4em;

}

.icon-heart:before {
	content: "\e606";
}

.icon-plus:before {
	content: "\e607";
}

.icon-enter:before {
	content: "\e608";
}

.icon-play:before {
	content: "\e609";
}

.icon-pause:before {
	content: "\e60a";
}

.icon-stop:before {
	content: "\e60b";
}

.icon-backward:before {
	content: "\e60c";
}

.icon-forward:before {
	content: "\e60d";
}

.icon-volume-high:before {
	content: "\e60e";
}

.icon-volume-mute:before {
	content: "\e60f";
}

.icon-volume-increase:before {
	content: "\e610";
}

.icon-volume-decrease:before {
	content: "\e611";
}

.icon-loop:before {
	content: "\e612";
}

.icon-shuffle:before {
	content: "\e613";
}

.icon-share:before {
	content: "\e614";
}

.icon-facebook:before {
	content: "\e615";
}

.icon-twitter:before {
	content: "\e616";
}

.icon-pluma:before {
	content: "\e601";
}

.icon-down:before {
	content: "\e602";
	color: red;
	font-size: 1.2em;
}

.icon-up:before {
	content: "\e603";
	color: green;
	font-size: 1.2em;

}


html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background: #EBEBEB;
}

figure{
	margin: 0;
}

h1{
	color: white;
	font-size: 20px;
}

h2{
	font-size: 18px;
	margin: 0.4em;

}

h3{
	font-size: 15px;
	font-weight: normal;
	margin: 0.4em;
}

.autor{
	color: #D13C22;
}


.container{
	margin: 0 auto;
	max-width: 980px;
}

.fila{
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	align-items: center;

}

.fila2{

	background: #707070;



}

.logo{
	width: 80px;
	padding: 0.5em;

}
.logo img{
	width: 80px;
	transition: 0.2s;
}

.logo img:hover{
	transform: rotate(360deg);

}

.avatar{
	width: 60px;
	margin-right: 1em;
	


}

.avatar img{
	width: 60px;

}

.cabeza{
	background: #333333;


}

.hh1{
	text-align: left;
	align-self: stretch;

}

.menu{
	padding: 0.5em 0 0.5em 0.5em;


}


.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menu ul li{
	list-style: none;
	margin: 0 1em 0 0;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}

.menu ul li a:hover{
	background: #333333;
	color: white;
}

/* CONTENIDO PRINCIPAL*/

.contenido{
	margin-top: 0.5em;
}


.articulo{
	background: white;
	overflow: hidden;
	border-bottom: 0.3em solid #22AFD7;

}

.thumb{
	float: left;
	margin-right: 0.5em;
}

.cajita{
	display: flex;
    justify-content: space-between;
	align-items: baseline; 
	margin-right: 1.5em;
	margin-bottom: 0.3em;
	margin-top: 1em;



}

.categoria{
	background: #22AFD7;
	color: white;
	padding: 0.4em;
	border-radius: 0.3em;

}

.comentarios{
	background: #707070;
	color: white;
	padding: 0.4em;
	font-weight: normal;
	border-radius: 0.3em;

}

.calificacion{
	background: white;
	max-width: 7.5em;
	text-align: center;
	margin-bottom: 8px;

}

.tiempo{
	color: #707070;
}




/* MEDIA QUERIES*/


@media screen and (min-width: 800px){
	.art1{
		width: 49%;
		display: inline-block;

	}

	.art1:nth-child(odd){
		margin-right: 1.5%;
	}
}

@media screen and (max-width: 420px){
	



}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.cajita{
		font-size: 0.7em;
		padding: 0.2em;
		margin-top: 0;


	}
	.logo{
	width: 60px;
	padding: 0.1em;

	}
	.logo img{
	width: 60px;

	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
